.khanh-bg-img{

    background-image: url('/static/img/register.png');

    background-clip:cover;

    background-position: center;

    background-repeat:no-repeat;

}


.container{

    margin-top:50px;


}

.container .khanh-register-outer{

    width:100%;

    overflow:hidden;

}

.card-body{

    display:block;

    box-shadow:0px 10px 25px black;

    border-radius:20px;

}


